<?xml version="1.0" encoding="utf-8" ?>
<botSettings>
  <general>
    <add key="username" value="bigmanhaywood" />
    <add key="password" value="batman" />
    <add key="trigger" value="yo" />
    <add key="owner" value="bigmanhaywood" />
  </general>
  <about><![CDATA[<b>%N% %V%%S%</b> (%R% release)<br/><sub><b>Author:</b> :dev%A%:<b>; Owner:</b> :dev%O%:<b>;</b><br/><b>%D%</b></sub>]]></about>
  <autoJoins>
    <add channel="botdom" />
  </autoJoins>
  <cookieData>
    <add key="uniqueid" value="96b50ca74d0aaa436408340da2e4c092" />
    <add key="visitcount" value="0" />
    <add key="visittime" value="0" />
    <add key="username" value="bigmanhaywood" />
    <add key="authtoken" value="e0ccc139db23e9a76418b5663232a88a" />
  </cookieData>    
</botSettings>
