<?xml version="1.0" encoding="utf-8"?>
<botSettings>
  <general>
    <add key="username" value="bigmanhaywood" />
    <add key="password" value="batman" />
    <add key="trigger" value="!" />
    <add key="owner" value="bigmanhaywood" />
    <add key="debug" value="true" />
  </general>
  <about><![CDATA[<b>%N% %V%%S%</b> (%R% release)<br/><sub><b>Author:</b> :dev%A%:<b>; Owner:</b> :dev%O%:<b>;</b><br/><b>%D%</b></sub>]]></about>
  <autoJoins>
    <add channel="thefreechat" />
  </autoJoins>
  <cookieData>
    <add key="uniqueid" value="49d52b3431ec47eabaf68546599918e0" />
    <add key="visitcount" value="0" />
    <add key="visittime" value="0" />
    <add key="username" value="bigmanhaywood" />
    <add key="authtoken" value="79dde4742f491839ea5fdfbea8d10040" />
  </cookieData>
</botSettings>