<?xml version="1.0" encoding="utf-8" ?>
<GameDefaults>
  <FortuneResponses>
    <add value="You will meet someone special in your next life." />
    <add value="Your future would have been sucessful had you gotten a different cookie." />
    <add value="EMPTY COOKIE." />
    <add value="If at first you do not succeed, sky diving is not for you." />
    <add value="It is true, your days are numbered." />
    <add value="Your car will run out of gas soon, but your significant other will be full. :slyfart:" />
    <add value="Success is just around the corner.  To bad your here." />
    <add value="Tomorrow does not look good, but it is probably better then today." />
    <add value="You should not have flushed the toilet." />
    <add value="Your fly is open but do not worry, the barn is empty." />
    <add value="EMPTY COOKIE." />
    <add value="You are realy the orphan of a great king who is searching for you." />
    <add value="05  12  22  24  31  40." />
    <add value="Time could have been better spent by not reading this fortune cookie." />
    <add value="Sell a man one fish, and he can eat for one day.  Teach the man to fish, and you can go broke." />
    <add value="Corn dogs are not grown... they are nurtured." />
    <add value="Life teaches many lessons and yes there is a test in the end." />
    <add value="The collective IQ of the world dropped 10 points because you read this." />
    <add value="Love will come to you when you least expect it, now that your expecting to not expect it, love probably is not coming." />
    <add value="HELP ME!!! I have been kidnapped!" />
    <add value="If you are looking for sexual satisfaction, then you will need to keep looking." />
    <add value="There is a BMW parked outside with someone elses name on it." />
    <add value="I am all out of fortune cookies." />
  </FortuneResponses>
  <EightBallResponses>
    <add value="Affirmative." />
    <add value="Negatory." />
    <add value="Outlook not so good." />
    <add value="Signs point to Yes." />
    <add value="Yes." />
    <add value="You may rely on it." />
    <add value="Ask again later." />
    <add value="Concentrate and ask again." />
    <add value="Outlook good." />
    <add value="My sources say so." />
    <add value="Better not tell you now." />
    <add value="Without a doubt." />
    <add value="It is decidedly so." />
    <add value="My reply is no." />
    <add value="As I see it, Yes." />
    <add value="It is certain." />
    <!-- Real 8 ball responses end here, the rest is random crap -->
    <add value="Yes, definetely." />
    <add value="Don't count on it." />
    <add value="Most likely." />
    <add value="My llama says yes!" />
    <add value="Are you serious, man? That question is SICK!" />
    <add value="I say :fart: you." />
    <add value="Infidel! You know nothing! Oh, and your answer is hell yes thats one fine potato." />
    <add value="HELL YES!" />
    <add value="HELL NO!" />
    <add value="Don't touch my barbeque you bastard!" />
    <add value="Yes that will happen, right when you have that hot date with Santa Clause on the Moon!" />
    <add value="You bet yer ass that's an affirmative!" />
    <add value="Yes, then you will fly to Uranus and eat chili with Elton John." />
    <add value="How appropriate, you fight like a cow." />
    <add value="Oh look a bird.... what was it you said?" />
    <add value="Your mom said yes, aaaaall niiiight loooong." />
    <add value="Nu--uh!! Ain't tellin yaa!" />
    <add value="Your fly is open :rofl:" />
    <add value="I'll tell you if you lemme have a go at your mom again." />
    <add value="Just in case you were curious, the world is being corrupted by flying monkeys and NO, you will not get laid tonight." />
    <add value="My answer has to be no, but would you say no if I said your clothes would look great on my floor?" />
    <add value="Stop abusing me! :cries:" />
    <add value="Signs point to shut the hell up." />
    <add value=":nod: NoodleMan has video proof." />
    <add value="Mmmmmm.... :donut:. Oh. Your question. Yes." />
    <add value="Shut up and do the friggin pencil!" />
    <add value="I forsee that this will happen on the 30th of February." />
    <add value="No you son of a window dresser." />
    <add value="If it is sooooo important why are you asking a chatroom 8ball? Answer that and get back to me." />
  </EightBallResponses>
  <ChuckNorrisResponses>
      <add value="Some kids piss their name in the snow. Chuck Norris can piss his name into concrete." />
      <add value="Chuck Norris' calendar goes straight from March 31st to April 2nd; no one fools Chuck Norris." />
      <add value="Leading hand sanitizers claim they can kill 99.9 percent of germs. Chuck Norris can kill 100 percent of whatever the fuck he wants." />
      <add value="Chuck Norris counted to infinity - twice." />
      <add value="Chuck Norris once visited the Virgin Islands. They are now The Islands." />
      <add value="Chuck Norris' tears cure cancer. Too bad he has never cried." />
      <add value="Chuck Norris' tears cure cancer. Too bad he has never cried." />
      <add value="Chuck Norris can speak braille." />
      <add value="Chuck Norris died ten years ago, but the Grim Reaper can't get up the courage to tell him." />
      <add value="Once, while having sex in a tractor-trailer, part of Chuck Norris' sperm escaped and got into the engine. We now know this truck as Optimus Prime." />
      <add value="Superman owns a pair of Chuck Norris pajamas." />
      <add value="Chuck Norris puts the laughter in manslaughter." />
      <add value="Chuck Norris does not sleep. He waits." />
      <add value="Chuck Norris owns the greatest Poker Face of all-time. It helped him win the 1983 World Series of Poker despite him holding just a Joker, a Get out of Jail Free Monopoly card, a 2 of clubs, 7 of spades and a green #4 card from the game Uno." />
      <add value="Chuck Norris can slam revolving doors." />
      <add value="Chuck Norris doesn't pop his collar, his shirts just get erections when they touch his body." />
      <add value="Chuck Norris sleeps with a night light. Not because Chuck Norris is afraid of the dark, but the dark is afraid of Chuck Norris" />
      <add value="Chuck Norris does not hunt because the word hunting implies the possibility of failure. Chuck Norris goes killing." />
      <add value="Chuck Norris doesn't read books. He stares them down until he gets the information he wants." />
      <add value="Chuck Norris was once on Celebrity Wheel of Fortune and was the first to spin. The next 29 minutes of the show consisted of everyone standing around awkwardly, waiting for the wheel to stop." />
      <add value="Once a cobra bit Chuck Norris' leg. After five days of excruciating pain, the cobra died." />
      <add value="Chuck Norris divides by zero." />
      <add value="Chuck Norris' wristwatch has no numbers on it. It just says, Time to kick ass." />
      <add value="When Chuck Norris gives you the finger, he's telling you how many seconds you have left to live." />
      <add value="Chuck Norris is not hung like a horse... horses are hung like Chuck Norris" />
      <add value="Chuck Norris doesn't have hair on his testicles, because hair does not grow on steel." />
      <add value="Chuck Norris is 1/8th Cherokee. This has nothing to do with ancestry, the man ate a fucking Indian." />
      <add value="Chuck Norris' dog is trained to pick up his own poop because Chuck Norris will not take shit from anyone." />
      <add value="Chuck Norris is always on top during sex because Chuck Norris never fucks up." />
      <add value="Bill Gates lives in constant fear that Chuck Norris' PC will crash." />
      <add value="When the Boogeyman goes to sleep every night he checks his closet for Chuck Norris." />
      <add value="If it looks like chicken, tastes like chicken, and feels like chicken but Chuck Norris says its beef, then it's fucking beef." />
      <add value="Giraffes were created when Chuck Norris uppercutted a horse." />
      <add value="Ghosts are actually caused by Chuck Norris killing people faster than Death can process them." />
      <add value="When Chuck Norris looks in a mirror the mirror shatters, because not even glass is stupid enough to get in between Chuck Norris and Chuck Norris." />
      <add value="Chuck Norris is the only person on the planet that can kick you in the back of the face." />
      <add value="Chuck Norris has to maintain a concealed weapon license in all 50 states in order to legally wear pants." />
      <add value="Chuck Norris doesn't use pickup lines, he simply says, 'Now.'" />
      <add value="When Chuck Norris exercises, the machine gets stronger." />
      <add value="Chuck Norris sold his soul to the devil for his rugged good looks and unparalleled martial arts ability. Shortly after the transaction was finalized, Chuck roundhouse kicked the devil in the face and took his soul back. The devil, who appreciates irony, couldn't stay mad and admitted he should have seen it coming. They now play poker every second Wednesday of the month." />
      <add value="Chuck Norris can build a snowman out of rain." />
      <add value="The only thing Mr. T, Vin Diesel and Chuck Norris can agree on is that Tom Cruise is a faggot." />
      <add value="When an episode of Walker Texas Ranger was aired in France, the French surrendered to Chuck Norris just to be on the safe side." />
      <add value="M.C. Hammer learned the hard way that Chuck Norris can touch this." />
      <add value="Chuck Norris once had a heart attack; his heart lost." />
      <add value="Chuck Norris likes to knit sweaters in his free time. And by 'knit', I mean 'kick', and by 'sweaters', I mean 'babies'." />
      <add value="The phrase, 'You are what you eat' cannot be true based on the amount of pussy Chuck Norris eats." />
      <add value="Chuck Norris was originally offered the role as Frodo in Lord of the Rings. He declined because, 'Only a pussy would need three movies to destroy a piece of jewelery.'" />
      <add value="Pinatas were made in an attempt to get Chuck Norris to stop kicking the people of Mexico. Sadly this backfired, as all it has resulted in is Chuck Norris now looking for candy after he kicks his victims." />
      <add value="Chuck Norris plays russian roulette with a fully loded revolver... and wins." />
      <add value="Chuck Norris once killed a bird by throwing it off a cliff." />
      <add value="Chuck Norris can kill two stones with one bird." />
      <add value="Chuck Norris once punched a man in the soul." />
      <add value="If you can see Chuck Norris, he can see you. If you can't see Chuck Norris you may be only seconds away from death." />
      <add value="There are no weapons of Mass Destruction in Iraq. Chuck Norris lives in Oklahoma." />
      <add value="The only reason Chuck Norris didn't win an Oscar for his performance in 'Sidekicks' is because nobody in their right mind would willingly give Chuck Norris a blunt metal object. That's just suicide." />
      <add value="Chuck Norris is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs." />
      <add value="Chuck Norris once had an erection while lying face down. He struck oil." />
      <add value="The chief export of Chuck Norris is pain." />
      <add value="Chuck Norris did that to Michael Jackson's face." />
      <add value="The quickest way to a man's heart is with Chuck Norris's fist." />
      <add value="It is considered a great accomplishment to go down Niagara Falls in a wooden barrel. Chuck Norris can go up Niagara Falls in a cardboard box." />
      <add value="Upon hearing that his good friend, Lance Armstrong, lost his testicles to cancer, Chuck Norris donated one of his to Lance. With just one of Chuck's nuts, Lance was able to win the Tour De France seven times. By the way, Chuck still has two testicles; either he was able to produce a new one simply by flexing, or he had three to begin with. No one knows for sure." />
      <add value="The best part of waking up is not Folgers in your cup, but knowing that Chuck Norris didn't kill you in your sleep." />
      <add value="Touching Chuck Norris' beard will increase you life expectancy by 6 years. Unfortunately, the following roundhouse kick will reduce your life expectancy by 300. You do the math." />
      <add value="A Handicap parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there." />
      <add value="The grass is always greener on the other side, unless Chuck Norris has been there. In that case the grass is most likely soaked in blood and tears." />
      <add value="If Chuck Norris makes a woman ride on top during sex, she instantly qualifies for the 'mile high' club." />
      <add value="The most honorable way of dying is taking a bullet for Chuck Norris. This amuses Chuck Norris because he is bulletproof." />
      <add value="The saddest moment for a child is not when he learns Santa Claus isn't real, it's when he learns Chuck Norris is." />
      <add value="When a tsunami happens, it’s because Chuck Norris has been swimming laps in the ocean." />
      <add value="Why did the chicken cross the road? Because Chuck Norris threw it." />
      <add value="Chuck Norris has a pet kitten - every night for a snack." />
      <add value="Chuck Norris does not sleep. He waits." />
      <add value="Chuck Norris is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs." />
      <add value="If you can see Chuck Norris, he can see you. If you can’t see Chuck Norris you may be only seconds away from death." />
      <add value="There are no disabled people. Only people who have met Chuck Norris." />
      <add value="In fine print on the last page of the Guinness Book of World Records it notes that all world records are held by Chuck Norris, and those listed in the book are simply the closest anyone has ever gotten." />
      <add value="In an average living room there are 1,242 objects Chuck Norris could use to kill you, including the room itself." />
      <add value="Chuck Norris is the only man to ever defeat a brick wall in a game of tennis." />
      <add value="Chuck Norris is the reason why Waldo is hiding." />
      <add value="When Chuck Norris runs with scissors, other people get hurt. " />
      <add value="Chuck Norris drives an ice cream truck covered in human skulls. " />
      <add value="Chuck Norris was once the F.B.I's chief negotiator. His job involved calling up criminals and saying, 'This is Chuck Norris.'" />
      <add value="The reason newborn babies cry is because they know they have just entered a world with Chuck Norris." />
      <add value="When Chuck Norris breaks the law, the law doesn't heal." />
      <add value="Chuck Norris does not know where you live, but he knows where you will die." />
      <add value="Rosa Parks refused to get out of her seat because she was saving it for Chuck Norris." />
      <add value="Before Chuck Norris was born, the martial arts weapons with two pieces of wood connected by a chain were called NunBarrys. No one ever did find out what happened to Barry." />
      <add value="A unicorn once kicked Chuck Norris. That is why they no longer exist." />
      <add value="When Chuck Norris answers the phone, he just says 'Go'. This is not permission for you to begin speaking, it is your cue to start running for your life." />
      <add value="Chuck Norris once partook in a pissing contest outside of a bar. His opponent drowned." />
      <add value="When Chuck Norris jumped into the ocean, he didn't get wet, the water got Chuck Norris'ed." />
      <add value="God said: 'Let there be light.' Chuck Norris said: 'Say please!'" />
      <add value="Chuck Norris can satisfy a woman by pointing at her with his finger and saying 'Booya'" />
      <add value="Chuckie is Chuck Norris' gay brother." />
      <add value="Facebook was created for counting how many people left to be roundhouse kicked." />
      <add value="Chuck Norris tells black jokes without looking over his shoulder" />
      <add value="Chuck Norris was about to send an email when he realized it'd be faster to run." />
      <add value="It's not the fall that kills you, It's Chuck Norris waiting for you at the bottom" />
      <add value="Chuck Norris has slept with the girl in your sex dreams." />
      <add value="Chuck Norris is so fast he can start a fire by rubbing two ice cubes together." />
      <add value="That's not an eclipse, that's the sun hiding from Chuck Norris." />
      <add value="Teenage Mutant Ninja Turtles is in fact based on a true story. Chuck Norris once ate a live turtle, and when he crapped it out, it was six feet tall and knew karate." />
      <add value="Chuck Norris won a staring contest with the sun. Two feet away." />
      <add value="Deaf people did not exist until Chuck Norris was asked to speak a little louder at the McDonalds drive through." />
      <add value="Chuck Norris was once having sex with a tractor trailer, when some of his sperm got into the cab. Nine months later, the tractor trailer gave birth to Optimus Prime." />
      <add value="Chuck Norris won a staring contest against his reflection." />
      <add value="If you see Chuck Norris fighting a bear, don't help Chuck Norris, help the bear." />
      <add value="Chuck norris doesnt teabag people he potatosacks them" />
      <add value="Chuck Norris lost his virginity before his dad did." />
      <add value="There was once a 51st state, known as New Idaho.  It has not been heard of since it snubbed Chuck Norris as governor and was roundhouse kicked into a parallel dimension, along with Chuck's virginity and the last sonofabitch that overcooked his panda bear steaks.  Chuck Norris eats his panda raw." />
      <add value="The North American Bison nearly went extinct because Chuck Norris needed a leather jacket." />
      <add value="Chuck Norris made a deal with the Devil.  The deal: Chuck Norris willonly kick the Devil's ass once per day, in exchange for Satan's soul." />
      <add value="Don't even ask. Chuck Norris is always serious." />
      <add value="Chuck Norris...End of Story" />
      <add value="When Chuck Norris was little he followed a rainbow. He met a leprechaun and asked for its gold. It wouldn't give it to him. This is why we no longer have leprechauns." />
      <add value="The President has Chuck Norris on speed dial...on the red phone" />
      <add value="If you misspell 'Chuck Norris' on Google it won't correct it, it just says you have 10 seconds to live." />
      <add value="Chuck Norris one played a game of golf without clubs. He shot a 17." />
      <add value="When Chuck Norris went to donate sperm, half the nurses drowned; the rest were pregnant." />
      <add value="When Chuck Norris was born he roundhouse-kicked the doctor dead for hitting his butt." />
      <add value="Chuck Norris created all the accents in the world by punching everybody in the throat each in a different way." />
      <add value="B.C. really stands for Before Chuck." />
      <add value="The Big Bang happened when Chuck Norris went back in time to just before the Universe began and every atom in the Universe immediately decided it should get the hell away from there and fast." />
      <add value="Some kids piss their name in the snow. Chuck Norris can piss his name into concrete." />
      <add value="Leading hand sanitizers claim they can kill 99.9 percent of germs. Chuck Norris can kill 100 percent of whatever the hell he wants." />
      <add value="Chuck Norris counted to infinity - twice." />
      <add value="Chuck Norris' calendar goes straight from March 31st to April 2nd; no one fools Chuck Norris." />
      <add value="Chuck Norris' tears cure cancer. Too bad he has never cried." />
      <add value="Chuck Norris does not sleep. He waits." />
      <add value="Chuck Norris can speak braille." />
      <add value="Once, while having sex in a tractor-trailer, part of Chuck Norris' sperm escaped and got into the engine. We now know this truck as Optimus Prime." />
      <add value="Chuck Norris doesn't cheat death. He wins fair and square." />
      <add value="Chuck Norris puts the 'laughter' in 'manslaughter'." />
      <add value="Chuck Norris can do a wheelie on a unicycle." />
      <add value="Chuck Norris once won a game of Connect Four in 3 moves." />
      <add value="If you spell Chuck Norris wrong on Google it doesn't say, 'Did you mean Chuck Norris?' It simply replies, 'Run while you still have the chance.'" />
      <add value="Chuck Norris can delete the Recycling Bin." />
      <add value="When the Boogeyman goes to sleep every night he checks his closet for Chuck Norris." />
      <add value="Once a cobra bit Chuck Norris' leg. After five days of excruciating pain, the cobra died." />
      <add value="Chuck Norris died ten years ago, but the Grim Reaper can't get up the courage to tell him." />
      <add value="Chuck Norris does not hunt because the word hunting implies the possibility of failure. Chuck Norris goes killing." />
      <add value="If it looks like chicken, tastes like chicken, and feels like chicken but Chuck Norris says its beef, then it's freaking beef." />
      <add value="Chuck Norris can slam revolving doors." />
      <add value="Giraffes were created when Chuck Norris uppercutted a horse." />
      <add value="Superman owns a pair of Chuck Norris pajamas." />
      <add value="Chuck Norris doesn't read books. He stares them down until he gets the information he wants." />
      <add value="Chuck Norris runs Windows Vista on his Etch-a-Sketch." />
      <add value="Chuck Norris sleeps with a night light. Not because Chuck Norris is afraid of the dark, but the dark is afraid of Chuck Norris" />
      <add value="Chuck Norris secretly sleeps with every woman in the world once a month. They bleed for a week as a result." />
      <add value="Chuck Norris can kill two stones with one bird." />
      <add value="When Chuck Norris gives you the finger, he's telling you how many seconds you have left to live." />
      <add value="Chuck Norris' dog is trained to pick up his own poop because Chuck Norris will not take crap from anyone." />
      <add value="Chuck Norris doesn't have hair on his testicles, because hair does not grow on steel." />
      <add value="In 1991, Chuck Norris shot a 14 on an 18 hole golf course, falling short of his personal best by 2 strokes." />
      <add value="Chuck Norris is the only person on the planet that can kick you in the back of the face." />
      <add value="Chuck Norris is always on top during sex because Chuck Norris never screws up." />
      <add value="Death once had a near-Chuck-Norris experience." />
      <add value="Bill Gates lives in constant fear that Chuck Norris' PC will crash." />
      <add value="Chuck Norris doesn't pop his collar, his shirts just get erections when they touch his body." />
      <add value="Ghosts are actually caused by Chuck Norris killing people faster than Death can process them." />
      <add value="Chuck Norris was once charged with three attempted murdered, but the Judge quickly dropped the charges because Chuck Norris does not 'attempt' murder." />
      <add value="The best part of waking up is not Folgers in your cup, but knowing that Chuck Norris didn't kill you in your sleep." />
      <add value="Chuck Norris never retreats, he just attacks in the opposite direction." />
      <add value="Chuck Norris can strangle you with a cordless phone." />
      <add value="Chuck Norris has to maintain a concealed weapon license in all 50 states in order to legally wear pants." />
      <add value="Chuck Norris eats the core of an apple first." />
      <add value="Chuck Norris can build a snowman out of rain." />
      <add value="The reason newborn babies cry is because they know they have just entered a world with Chuck Norris." />
      <add value="Chuck Norris once punched a man in the soul." />
      <add value="Chuck Norris plays russian roulette with a fully loded revolver... and wins." />
      <add value="M.C. Hammer learned the hard way that Chuck Norris can touch this." />
      <add value="Chuck Norris can have both feet on the ground and kick ass at the same time." />
      <add value="Chuck Norris is 1/8th Cherokee. This has nothing to do with ancestry, the man ate a freaking Jeep." />
      <add value="Chuck Norris is not hung like a horse... horses are hung like Chuck Norris" />
      <add value="Chuck Norris can drown a fish." />
      <add value="Chuck Norris likes to knit sweaters in his free time. And by 'knit', I mean 'kick', and by 'sweaters', I mean 'ninja'." />
      <add value="Chuck Norris once had a heart attack; his heart lost." />
      <add value="When Chuck Norris enters a room, he doesn't turn the lights on, he turns the dark off." />
      <add value="Mr. T once defeated Chuck Norris in a game of Tic-Tac-Toe. In retaliation, Chuck Norris invented racism." />
      <add value="It is considered a great accomplishment to go down Niagara Falls in a wooden barrel. Chuck Norris can go up Niagara Falls in a cardboard box." />
      <add value="When Chuck Norris looks in a mirror the mirror shatters, because not even glass is stupid enough to get in between Chuck Norris and Chuck Norris." />
      <add value="The only time Chuck Norris was wrong was when he thought he had made a mistake." />
      <add value="Rosa Parks refused to get out of her seat because she was saving it for Chuck Norris." />
      <add value="Chuck Norris can play the violin with a piano" />
      <add value="Chuck Norris doesn't need a miracle in order to split the ocean. He just walks in and the water gets the hell out of the way." />
      <add value="Brett Favre can throw a football over 50 yards. Chuck Norris can throw Brett Favre even further." />
      <add value="The last digit of pi is Chuck Norris. He is the end of all things." />
      <add value="When God said, 'Let there be light', Chuck Norris said, 'say please.'" />
      <add value="Chuck Norris once bowled a 300. Without a ball. He wasn't even in a bowling alley." />
      <add value="The chief export of Chuck Norris is pain." />
      <add value="Chuck Norris doesn't use pickup lines, he simply says, 'Now.'" />
      <add value="Champions are the breakfast of Chuck Norris." />
      <add value="Chuck Norris can tie his shoes with his feet." />
      <add value="The quickest way to a man's heart is with Chuck Norris's fist." />
      <add value="Chuck Norris is the only person that can punch a cyclops between the eye." />
      <add value="Chuck Norris doesn't play 'hide-and-seek.' He plays 'hide-and-pray-I-don't-find-you.'" />
      <add value="Chuck Norris is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs." />
      <add value="Chuck Norris does not know where you live, but he knows where you will die." />
      <add value="If you can see Chuck Norris, he can see you. If you can't see Chuck Norris you may be only seconds away from death." />
      <add value="Most men are okay with their wives fantasizing about Chuck Norris during sex, because they are doing the same thing." />
      <add value="Chuck Norris once had an erection while lying face down and struck oil." />
      <add value="The phrase, 'You are what you eat' cannot be true based on the amount of pussy Chuck Norris eats." />
      <add value="Chuck Norris cannot predict the future; the future just better to do what Chuck Norris says." />
      <add value="The saddest moment for a child is not when he learns Santa Claus isn't real, it's when he learns Chuck Norris is." />
  </ChuckNorrisResponses>
</GameDefaults>