<?xml version="1.0" encoding="utf-8" ?>
<GameDefaults>
  <FortuneResponses>
    <add value="You will meet someone special in your next life." />
    <add value="Your future would have been sucessful had you gotten a different cookie." />
    <add value="EMPTY COOKIE." />
    <add value="If at first you do not succeed, sky diving is not for you." />
    <add value="It is true, your days are numbered." />
    <add value="Your car will run out of gas soon, but your significant other will be full. :slyfart:" />
    <add value="Success is just around the corner.  To bad your here." />
    <add value="Tomorrow does not look good, but it is probably better then today." />
    <add value="You should not have flushed the toilet." />
    <add value="Your fly is open but do not worry, the barn is empty." />
    <add value="EMPTY COOKIE." />
    <add value="You are realy the orphan of a great king who is searching for you." />
    <add value="05  12  22  24  31  40." />
    <add value="Time could have been better spent by not reading this fortune cookie." />
    <add value="Sell a man one fish, and he can eat for one day.  Teach the man to fish, and you can go broke." />
    <add value="Corn dogs are not grown... they are nurtured." />
    <add value="Life teaches many lessons and yes there is a test in the end." />
    <add value="The collective IQ of the world dropped 10 points because you read this." />
    <add value="Love will come to you when you least expect it, now that your expecting to not expect it, love probably is not coming." />
    <add value="HELP ME!!! I have been kidnapped!" />
    <add value="If you are looking for sexual satisfaction, then you will need to keep looking." />
    <add value="There is a BMW parked outside with someone elses name on it." />
    <add value="I am all out of fortune cookies." />
  </FortuneResponses>
  <EightBallResponses>
    <add value="Affirmative." />
    <add value="Negatory." />
    <add value="Outlook not so good." />
    <add value="Signs point to Yes." />
    <add value="Yes." />
    <add value="You may rely on it." />
    <add value="Ask again later." />
    <add value="Concentrate and ask again." />
    <add value="Outlook good." />
    <add value="My sources say so." />
    <add value="Better not tell you now." />
    <add value="Without a doubt." />
    <add value="It is decidedly so." />
    <add value="My reply is no." />
    <add value="As I see it, Yes." />
    <add value="It is certain." />
    <!-- Real 8 ball responses end here, the rest is random crap -->
    <add value="Yes, definetely." />
    <add value="Don't count on it." />
    <add value="Most likely." />
    <add value="My llama says yes!" />
    <add value="Are you serious, man? That question is SICK!" />
    <add value="I say :fart: you." />
    <add value="Infidel! You know nothing! Oh, and your answer is hell yes thats one fine potato." />
    <add value="HELL YES!" />
    <add value="HELL NO!" />
    <add value="Don't touch my barbeque you bastard!" />
    <add value="Yes that will happen, right when you have that hot date with Santa Clause on the Moon!" />
    <add value="You bet yer ass that's an affirmative!" />
    <add value="Yes, then you will fly to Uranus and eat chili with Elton John." />
    <add value="How appropriate, you fight like a cow." />
    <add value="Oh look a bird.... what was it you said?" />
    <add value="Your mom said yes, aaaaall niiiight loooong." />
    <add value="Nu--uh!! Ain't tellin yaa!" />
    <add value="Your fly is open :rofl:" />
    <add value="I'll tell you if you lemme have a go at your mom again." />
    <add value="Just in case you were curious, the world is being corrupted by flying monkeys and NO, you will not get laid tonight." />
    <add value="My answer has to be no, but would you say no if I said your clothes would look great on my floor?" />
    <add value="Stop abusing me! :cries:" />
    <add value="Signs point to shut the hell up." />
    <add value=":nod: NoodleMan has video proof." />
    <add value="Mmmmmm.... :donut:. Oh. Your question. Yes." />
    <add value="Shut up and do the friggin pencil!" />
    <add value="I forsee that this will happen on the 30th of February." />
    <add value="No you son of a window dresser." />
    <add value="If it is sooooo important why are you asking a chatroom 8ball? Answer that and get back to me." />
  </EightBallResponses>
</GameDefaults>